<div>
     <h1>Lista de Productos</h1>
    <ul>
        {{#each docs}}
        <li>
            <h2>{{title}}</h2>
            <p>Descripción: {{description}}</p>
            <p>Precio: {{price}}</p>
            <p>Código: {{code}}</p>
            <p>Stock: {{stock}}</p>
        </li>
        {{/each}}
    </ul>

    {{#if hasPrevPage}}
    <a href="/products?page={{prevPage}}"> <button>Anterior</button> </a>
    {{/if }}

    {{#if hasNextPage}}
    <a href="/products?page={{nextPage}}"> <button>Siguiente</button> </a>
    {{/if }}
</div>