<div>
    <h1>USUARIOS:</h1>
    <a href="/newuser">Crear nuevo usuario</a>
    <ul>
        {{#each docs}}
        <li>
            <p>Nombre: {{first_name}}</p>
            <p>Apellido: {{last_name}}</p>
            <p>Email: {{email}}</p>
            <button onclick="editarUser('{{_id}}')">Editar</button>
            <button onclick="eliminarUser('{{_id}}')">Eliminar</button>
        </li>
        {{/each}}
    </ul>

    {{#if hasPrevPage}}
    <a href="/users?page={{prevPage}}"> <button>Anterior</button> </a>
    {{/if }}

    {{#if hasNextPage}}
    <a href="/users?page={{nextPage}}"> <button>Siguiente</button> </a>
    {{/if }}
</div>

<script src="./js/user/userMain.js"></script>